{% extends "blog/base.html" %}
{% load staticfiles %}
{% block title %}Blog page{% endblock title %}
{% block head_block %}
  <link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}

{% block body_block %}


    <h1 class="jumbotron">Blogs</h1>
      <!-- Input form for blog posts. -->
    {% for post in object_list %}
    <div class="post-container">
      <div class="post-image">
        {% if post.user.userprofileinfo.profile_pic %}
        <img src="{{.user.userprofileinfo.profile_pic.url}}" alt="" />
        {% else %}
        <img src="/media/profile_pics/default.png" alt="" />
        {% endif %}
      </div>
      <div class="post-author">Author: <i class="author">{{post.user}}</i></div>
      <div class="post-date">
        <div>{{post.date_added}}</div>
        <div class="action">
          <br>
        </div>
      </div>
      <div class="post-title">Title: <i>{{post.title}}</i></div>
      <div class="post-intro">Intro: {{post.intro}}</div>
      <div class="post-link">
        {% if user.is_authenticated %}
          <a href="{% url 'post_detail' post.slug %}">Read more</a>
        {% else %}
          <a href="{% url 'login_page' %}">Login to read more.</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

{% endblock %}