{% extends "blog/base.html" %} {% load staticfiles %} {% block body_block %}

<link rel="stylesheet" href="{% static 'post_detail.css' %}">

<div class="container">
  <div class="post block">
    <h2 class="post-author">Author: {{post.user}}</h2>
    <h2 class="subtitle">Title: {{post.title}}</h2>
    <h4>Date added: {{post.date_added}}</h4>
    <h4>Intro: {{post.intro}}</h4>
    <h4>Body: {{post.body}}</h4>
  </div>
</div>

<hr />

<button class="btn btn-success show-hide-comment-form" onclick="showHideForm()">
  Comment This post
</button>

<hr />
<div id="#comment-form" class="comment-form" style="display: none">
  <div class="form-container">
  <div class="formbg-outer">
    <div class="formbg">
      <div class="formbg-inner padding-horizontal--48">
        <span class="padding-bottom--15 add-a-comment">Add Comment</span>

        <form method="POST" enctype="multipart/form-data" id="stripe-login">
          <div class="padding-bottom--24 field">
            {% csrf_token %}   <label for="name">User name:</label>
            <input
             
              type="text"
              name="name"
              value="{{user.username}}"
              disabled
              placeholder="Enter your name"
            />
    
    
            <br />
            <label class="comment-label" for="body">Comment:</label>
            <textarea class="comment-field"
              id="post-comment"
              name="body"
              rows="4"
              cols="50"
              placeholder="Your comment should be minimum 20 characters long."
            ></textarea>
          </div>
          <button class="btn btn-success submit-comment" onclick="hideForm()">
            Comment
          </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<br />
{% for comment in post.comments.all %}
<div class="comment">
  <div class="comment-counter">{{forloop.counter}}</div>
  <div class="comment-user">{{comment.name}}</div>
  <div class="comment-user">{{comment.date_added}}</div>
  <div class="comment-body">{{comment.body}}</div>
</div>
<hr />
{% empty %}
<h2 class="no-comments-yet">This post have no comments.</h2>
<hr />
{% endfor %}

<script src="{% static '/script.js' %}"></script>
{% endblock %}
</div>