
/* STYLE post_detail.html */
.show-hide-comment-form {
  width: 200px;
  font-size: 1.2rem;
  color: black;
  padding: 10px;
  background: palegreen;
  border: 1px solid grey;
  border-radius: 5px;
}

.show-hide-comment-form:hover {
  color: white;
}

.formbg {
  font-size: 1.1rem;
  padding: 0;
}

.comment-form {
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.form-container {
  width: 500px;
  padding: 0px;
}

.form-label-and-input {
  display: grid;
  grid-gap: 0;
  font-size: 1.1rem;
}

.form-container .label {
  font-weight: 600;
  margin: 0;
}

.comment-label {
  margin-top: 10px;
}

.add-a-comment {
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
}

.comment-field {
  width: 100%;
  text-align: left;
}

.field-disabled {
  margin-bottom: -15px;
}

.field {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.submit-comment {
  margin: 10px 12px 0 12px;
  width: 94%;
  font-size: 1.4rem;
  cursor: not-allowed;
}

.submit-comment:hover:enabled {
  background: palegreen;
  color: black;
  cursor: pointer;
}

/* END STYLE */