/* STYLE post_detail.html */
.show-hide-comment-form {
  width: 200px;
  font-size: 1.2rem;
  color: black;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid grey;
  border-radius: 5px;
}

.show-hide-comment-form:hover {
  color: white;
}

.formbg {
  font-size: 1.1rem;
  padding: 0;
}

.comment-form {
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.form-container {
  width: 500px;
  padding: 0px;
}

.form-label-and-input {
  display: grid;
  grid-gap: 0;
  font-size: 1.1rem;
}

.form-container .label {
  font-weight: 600;
  margin: 0;
}

.comment-label {
  margin-top: 10px;
}

.add-a-comment {
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
}

.comment-field {
  width: 100%;
  text-align: left;
}

.field-disabled {
  margin-bottom: -15px;
}

.field {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.submit-comment {
  margin: 10px 12px 0 12px;
  width: 94%;
  font-size: 1.4rem;
  cursor: not-allowed;
}

.submit-comment:hover:enabled {
  background: rgba(0, 0, 0, 0.2);
  color: black;
  cursor: pointer;
}

.comment-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "post-image post-author post-author post-author post-date post-date post-date"
    "post-image post-title post-title post-title post-title post-title post-title";
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  font-size: 1.3rem;
  min-width: 750px;
  margin: 0 auto 15px auto;
  width: 70%;

  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px 5px 20px rgba(0, 0, 0, 0.3);
  color: white;
}

/* END STYLE */
